$bgColor: #101318;
$gridGap: 5px;

$alkaliMetalColor: #ecbe59;
$alkalineEarthMetalColor: #dee955;
$lanthanoidColor: #ec77a3;
$actinoidColor: #c686cc;
$transitionMetalColor: #fd8572;
$postTransitionMetalColor: #4cddf3;
$metalloidColor: #3aefb6;
$otherNonmetalColor: #52ee61;
$nobleGasColor: #759fff;
$unknownColor: #cccccc;

body {
  background: $bgColor;
  text-shadow: 0 0 0.4vw currentColor;
}
.wrapper {
  position: relative;
  overflow: hidden;
  padding: 2%;

  > input {
    -webkit-appearance: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
.periodic-table {
  display: grid;
  grid-gap: $gridGap;
  grid-template-columns: repeat(18, 1fr);
}

.placeholder {
  position: relative;
  z-index: -1;
  font-size: 1vw;
  padding-bottom: 100%;
  color: #fff;
  transition: 500ms;

  .square {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }

// --------------------------------------
// GAP
}
.gap {
  position: relative;
  padding-bottom: 100%;
  transition: 500ms;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: calc(200% + #{$gridGap} * 2 - 4px);
    border-width: 0 0 2px 2px;
    border-style: solid;
    margin-left: -1px;
    color: #fff;
    opacity: 0.2;
  }


// --------------------------------------
// COLORS
}
.alkali-metal {
  color: $alkaliMetalColor;
}
.alkaline-earth-metal {
  color: $alkalineEarthMetalColor;
}
.lanthanoid {
  color: $lanthanoidColor;
}
.actinoid {
  color: $actinoidColor;
}
.transition-metal {
  color: $transitionMetalColor;
}
.post-transition-metal {
  color: $postTransitionMetalColor;
}
.metalloid {
  color: $metalloidColor;
}
.other-nonmetal {
  color: $otherNonmetalColor;
}
.noble-gas {
  color: $nobleGasColor;
}
.unknown {
  color: $unknownColor;
}

// --------------------------------------
// ROWS & COLUMNS
@for $i from 1 through 10 {
  .r#{$i} {
    grid-row: $i;
  }
}
@for $i from 1 through 18 {
  .c#{$i} {
    grid-column: $i;
  }


// --------------------------------------
// SHIFT EDGE ELEMENTS ON ZOOM
}
.r1 input[type="radio"].activate:checked ~ .square {
  top: 100%;
}
.r10 input[type="radio"].activate:checked ~ .square {
  top: -100%;
}
.c1 input[type="radio"].activate:checked ~ .square {
  left: 100%;
}
.c18 input[type="radio"].activate:checked ~ .square {
  left: -100%;
}


// --------------------------------------
// ANIMATIONS
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
};

// --------------------------------------
// CATEGORY TOGGLES
#alkali-metals:checked ~ .periodic-table .element:not(.alkali-metal),
#alkaline-earth-metals:checked ~ .periodic-table .element:not(.alkaline-earth-metal),
#lanthanoids:checked ~ .periodic-table .element:not(.lanthanoid),
#actinoids:checked ~ .periodic-table .element:not(.actinoid),
#transition-metals:checked ~ .periodic-table .element:not(.transition-metal),
#post-transition-metals:checked ~ .periodic-table .element:not(.post-transition-metal),
#metalloids:checked ~ .periodic-table .element:not(.metalloid),
#other-nonmetals:checked ~ .periodic-table .element:not(.other-nonmetal),
#noble-gasses:checked ~ .periodic-table .element:not(.noble-gas),
#unknown:checked ~ .periodic-table .element:not(.unknown),
#alkali-metals:checked ~ .periodic-table .placeholder,
#alkaline-earth-metals:checked ~ .periodic-table .placeholder,
#lanthanoids:checked ~ .periodic-table .placeholder:not(.lanthanoid),
#actinoids:checked ~ .periodic-table .placeholder:not(.actinoid),
#transition-metals:checked ~ .periodic-table .placeholder,
#post-transition-metals:checked ~ .periodic-table .placeholder,
#metalloids:checked ~ .periodic-table .placeholder,
#other-nonmetals:checked ~ .periodic-table .placeholder,
#noble-gasses:checked ~ .periodic-table .placeholder,
#unknown:checked ~ .periodic-table .placeholder {
  opacity: 0.15;
  pointer-events: none;
}
