<!--<input class="category-toggle" type="radio" id="alkali-metals" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="alkaline-earth-metals" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="lanthanoids" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="actinoids" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="transition-metals" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="post-transition-metals" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="metalloids" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="other-nonmetals" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="noble-gasses" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<!--<input class="category-toggle" type="radio" id="unknown" name="categories">-->
<!--<input class="category-cancel" type="radio" id="cancel" name="categories">-->
<div class="periodic-table">
  <app-element *ngFor="let element of elements" [element]="element"></app-element>
</div>
<app-compound></app-compound>
