
#title {
  display: block;
  text-align: center;
  // color: grey;
}

.compound {
  border: 5px;
  border-style: solid;
  width: fit-content;
  margin: 10px;
  background-color: lightgrey;
}

.element-in-compound {
  text-align: center;
  display: inline-block;
  border: 5px;
  border-style: solid;
  padding: 20px;
  margin: 5px;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

#validate-btn {
  margin: 25px;
}

button {
  margin: 10px;
}

#compound-test {
  height: 350px;
  width: 100%;
  background-image: url("../../assets/images/SEF4bG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  margin: 10px;
}
