<mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
<div id="compound-test">
  <h1 id="title">Experiment</h1>
  <div>
    <ng-container *ngIf="elementsInCompound.length > 0; else emptyExperiment">
      <div class="compound">
        <div class="element-in-compound" *ngFor="let element of elementsInCompound; index as i" (click)="removeElementFromCompound(i, element)"
          [ngStyle]="{'background-color': '#' + element?.cPKHexColor}">
            {{element?.symbol}}
        </div>
      </div>
    </ng-container>
    <div id="validate-btn" *ngIf="elementsInCompound.length > 0">
      <button mat-raised-button color="primary" (click)="validateCompound()">Run Experiment</button>
      <button mat-raised-button (click)="clearExperiment()">Clear Experiment</button>
    </div>
  </div>
  <ng-template #emptyExperiment>
		<h2>
		  Add elements to the the experiment by clicking on elements in the periodic table.
		</h2>
	</ng-template>
</div>
