<div class="compound-title">
  <h1>Elements in Compound</h1>
</div>

<ng-container *ngIf="elementsInCompound.length > 0">
     <!-- <p>Interacted element: {{interactedElement?.symbol}}</p> -->
  <div fxLayout="row" class="compound">
    <div *ngFor="let element of elementsInCompound; index as i" (click)="removeElementFromCompound(i, element)">
      <div class="container">
        <div>{{element?.symbol}}</div>
      </div>
    </div>
    <div>
      <button (click)="validateCompound()">Validate Compound</button>
    </div>
  </div>
</ng-container>
