<div class="element {{element.groupBlock}} {{element.tablePosition}}">
  <input class="activate" type="radio" name="elements">
  <input class="deactivate" type="radio" name="elements">
  <div class="overlay"></div>
  <div class="square">
    <div class="model">
      <div class="orbital">
        <div class="electron"></div>
      </div>
    </div>
    <div class="atomic-number">{{element.atomicNumber}}</div>
    <div class="label">
      <div class="symbol">{{element.symbol}}</div>
      <div class="name">{{element.name}}</div>
    </div>
    <div class="atomic-mass">{{element.atomicMass}}</div>
    <ul class="atomic-weight">
      <li>{{element.atomicNumber}}</li>
    </ul>
  </div>
</div>
