<!-- nav -->
<mat-drawer-container autosize>
        <mat-toolbar>
            <button mat-icon-button (click)="drawer.toggle()" id="navDrawr" aria-label="icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Welcome to the Chemistry Lab</span>
            <!-- <span class="example-spacer"></span> -->
            <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button> -->
            <div class="profileInfo" [hidden]="!isLoggedIn">
                <span class="name">{{user?.firstName}}</span>
                <button (click)="onClickProfile()"><img height="40" width="40" src="{{user?.profileImgUrl}}" class="rounded-circle img-fluid img-thumbnail" alt="" /></button>
                
            </div>
        </mat-toolbar>
    
    <mat-drawer #drawer mode="side">
        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->
        <nav>
            <button data-toggle="modal" data-target="#loginModal" [hidden]="isLoggedIn" mat-raised-button>
            Login
            </button>
            <button [hidden]="!isLoggedIn" (click)="onClickLogout()" mat-raised-button>
            Logout
            </button>
            <button [hidden]="!isAdmin" (click)="onClickUserManagement()" mat-raised-button color="accent">
            User Managment
            </button>
        </nav>
    </mat-drawer>
    <app-tabs></app-tabs>
</mat-drawer-container>

<!-- login modal -->
<div class="modal fade" id="loginModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-login (newItemEvent)="getLoggedIn($event)"></app-login>
            </div>
            <!-- <div class="modal-footer"> -->
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-login-modal">Close</button> -->
            <!-- </div> -->
        </div>
    </div>
</div>

<!-- router/dynamic content -->
<router-outlet></router-outlet>

<!-- notifications -->
<notifier-container></notifier-container>
