<!-- nav -->
<mat-drawer-container autosize>
    <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()" id="navDrawr" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Welcome to the Chemistry Lab</span>
        <div class="profileInfo" [hidden]="!isLoggedIn">
            <span class="name">{{user?.firstName}}</span>
            <img height="40" width="40" src="{{user?.profileImgUrl}}" class="rounded-circle img-fluid img-thumbnail"
                alt="" />
        </div>
    </mat-toolbar>

    <mat-drawer #drawer mode="side">
        <nav>
            <button data-toggle="modal" data-target="#loginModal" [hidden]="isLoggedIn" mat-raised-button>
                Login
            </button>
            <button [hidden]="!isLoggedIn" (click)="onClickLogout()" mat-raised-button>
                Logout
            </button>
            <button [hidden]="!isAdmin" routerLink="/user/management" mat-raised-button color="accent">
                User Managment
            </button>
        </nav>
    </mat-drawer>
    <!-- child [isLoggedIn] bound to current "isLoggedIn" -->
    <app-tabs [isLoggedIn]="isLoggedIn"></app-tabs>
</mat-drawer-container>

<!-- login modal -->
<div class="modal fade" id="loginModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- the child newItemEvent of login sends $event to parent getLoggedIn of app-component -->
                <app-login (newItemEvent)="getLoggedIn($event)"></app-login>
            </div>
        </div>
    </div>
</div>

<!-- register modal -->
<div class="modal fade" id="registerModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-register></app-register>
            </div>
        </div>
    </div>
</div>

<!-- router/dynamic content -->
<router-outlet></router-outlet>

<!-- notifications -->
<notifier-container></notifier-container>